.search-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  .scroll-w-wrapper {
    height: calc(100vh - 110px);
  }
  .search-header {
    padding: 0 10px;
    height: 60px;
    .filter {
      position: absolute;
      top: 10px;
      width: 94%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header-back {
        // margin-right: 10px;
        padding: 0 15px 0 10px;
      }
      .input-wrapper {
        border-radius: 40px;
        background: $white-100;
        height: 40px;
        flex-grow: 2;
        padding: 0 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        svg {
          margin-right: 10px;
        }
        input {
          border: none;
          background: none;
          box-shadow: none;
          outline: none;
          flex-grow: 2;
        }
      }
      .search-button {
        background: none;
        border: none;
        outline: none;
        padding: 0;
        margin-left: 5px;
        color: $primary;
      }
    }
  }
  .hotkey-wrapper {
    width: 80%;
    margin: 0 auto;
    li {
      line-height: 45px;
      float: left;
      width: 50%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &:nth-of-type(-n + 3) {
        i {
          color: $danger;
        }
      }
      i {
        margin-right: 10px;
        color: $subtext;
        font-weight: bold;
      }
    }
  }
  .singer-wrapper {
    display: flex;
    margin: auto;
    flex-direction: column;
    overflow: hidden;
    .title {
      margin: 10px 0 10px 10px;
      color: $description;
      // font-size: 14px;
    }
    .singer-item {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      // margin: 0 5px;
      padding: 5px 15px;
      align-items: center;
      border-bottom: 1px solid $border-color;
      .singer-left {
        flex-grow: 1;
        display: table;
        .img_wrapper {
          // display: inline-block;
          display: table-cell;
          width: 70px;
          margin-right: 20px;
          img {
            border-radius: 3px;
            width: 50px;
            height: 50px;
          }
        }
        .name {
          // font-size: 14px;
          display: table-cell;
          text-align: left;
          vertical-align: middle;
          // color: $description;
          font-weight: 500;
        }
      }
    }
  }
}
