.c-blocka {
  display: block;
}

// 横向目录样式

.r-cate-wrapper {
  padding: 5px 10px;
  margin-bottom: 10px;
  > .r-cate-item {
    font-size: $font-size-least;
    padding: 5px 18px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 10%;
      transform: translateY(-70%);
      width: 80%;
      height: 6px;
      border-radius: 6px;
      background-color: transparent;
    }
    &.selected {
      font-weight: bold;
      &::after {
        transition: background-color 0.5s;
        background-color: lighten($primary, 8);
      }
    }
  }
}

.common-fadeInUp-enter,
.common-fadeInUp-appear {
  transform: translate3d(100%, 0, 0);
}
.common-fadeInUp-enter-active,
.common-fadeInUp-appear-active {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}
.common-fadeInUp-exit {
  transform: translate3d(0, 0, 0);
}
.common-fadeInUp-exit-active {
  transition: transform 0.3s;
  transform: translate3d(100%, 0, 0);
}

.common-fadeIn-enter,
.common-fadeIn-appear {
  opacity: 0;
}
.common-fadeIn-enter-active,
.common-fadeIn-appear-active {
  transition: all 0.3s;
  opacity: 1;
}
.common-fadeIn-exit {
  opacity: 1;
}
.common-fadeIn-exit-active {
  transition: all 0.3s;
  opacity: 0;
}
