.discover-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding: 0 5px;
  background: $primary;
  .searchBar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 0 15px;
    border-radius: 40px;
    background: $white-100;
    color: $gray-700;
  }
  .header-more {
    font-size: 25px;
    margin-right: 5px;
    color: $white;
  }
}

.discover-card-header {
  .card-header-title {
    font-weight: 300;
  }
}
.more-btn-wrapper {
  font-size: 12px;
  border: 0.5px solid $border-color;
  border-radius: 12px;
  padding: 2px 4px;
  span {
    margin-right: 4px;
  }
}

.recommend-wrapper {
  width: 100%;
  // overflow-x: scroll;
  display: flex;
  flex-direction: row;
  &::-webkit-scrollbar {
    display: none;
  }
  .recommend-item {
    margin-right: 5px;
    .recommend-item-pic {
      border-radius: 12px;
      width: 100px;
    }
    .recommend-item-name {
      font-size: $font-size-least;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2; // 行数
      -webkit-box-orient: vertical; // 设置或检索伸缩盒对象的子元素的排列方式
      text-overflow: ellipsis;
    }
  }
}
