.album-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1002;
  .scroll-window-wrapper {
    height: calc(100vh - 110px);
  }
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-position: 0 0;
  background-size: 100% 100%;
  width: 100%;
  height: 300px;
  filter: blur(20px);
}
.top-desc-wrapper {
  position: relative;
  padding: 0 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 265px;
  display: flex;
  .info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info-left {
      position: relative;
      .cover-pic {
        width: 130px;
        height: 130px;
        border-radius: 16px;
      }
      .play-count {
        font-size: $font-size-least;
        zoom: 0.8;
        color: $white;
        background: linear-gradient(hsla(0, 0%, 43%, 0.4), hsla(0, 0%, 100%, 0));
        position: absolute;
        top: 6px;
        right: 8px;
        padding: 4px 8px;
        border-radius: 14px;
        svg {
          margin-right: 4px;
          zoom: 0.8;
        }
      }
    }
    .info-right {
      padding-left: 20px;
      .album-title {
        color: $white;
        margin-bottom: 20px;
        line-height: 1.5em;
      }
      .creator {
        color: $gray-500;
        .avatar {
          display: inline-block;
          img {
            width: 30px;
            height: 30px;
            border-radius: 30px;
            vertical-align: middle;
          }
        }
        .creator-name {
          display: inline-block;
          font-size: $font-size-least;
          text-indent: 6px;
        }
      }
    }
  }
}

.control-bar-wrapper {
  width: 70%;
  height: 50px;
  text-align: center;
  transform: translateY(-50%);
  background-color: $white;
  margin: 0 auto;
  border-radius: 40px;
  display: flex;
  align-items: center;
  .control-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 15px;
    > span {
      margin-right: 2px;
      svg {
        margin-right: 6px;
        font-size: 20px;
        vertical-align: middle;
      }
      i {
        font-style: normal;
        font-size: $font-size-least;
      }
    }
  }
}

.song-list {
  background: $white;
  .first-line {
    height: 50px;
    display: flex;
    align-items: center;
    .play-all {
      .playicon {
        display: inline-block;
        width: 58px;
        text-align: center;
        > svg {
          color: $primary;
          font-size: $font-size-lg;
          vertical-align: sub;
        }
      }
      > span {
        font-weight: bold;
        font-size: 17px;
        .sum {
          color: $description;
          font-size: $font-size-least;
        }
      }
    }
  }
  .songs-wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      display: flex;
      align-items: center;
      height: 60px;
      // margin-bottom: 5px;
      .index {
        flex-basis: 60px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
      }
      .song-item {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // border-bottom: 1px solid $border-color;
        span:nth-of-type(1) {
          padding-bottom: 10px;
        }
        .singer-name {
          color: $description;
          font-size: $font-size-least;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          > svg {
            font-size: $font-size-least;
            transform: scale(0.8);
            color: $danger;
          }
        }
      }
    }
  }
}
