.header-container {
  // position: fixed;
  // z-index: 1002;
  padding: 5px 10px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  .header-back {
    font-size: 20px;
    margin-left: 5px;
  }
  .title-wrapper {
    flex-grow: 1;
    text-align: center;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
  }
}
